[package]
name = "flatland"
version = "0.3.0"
edition = "2021"
authors = ["Nova King <technobaboo@proton.me>"]
description = "Flat panel UI client for Stardust XR like SimulaVR or xrdesktop"
license = "MIT"
repository = "https://github.com/StardustXR/flatland/"
homepage = "https://stardustxr.org"

[dependencies]
anyhow = "1.0.60"
glam = { version = "0.21.3", features = ["mint"] }
image = "0.24.3"
mint = "0.5.9"
once_cell = "1.13.0"
prisma = "0.1.1"
rustc-hash = "1.1.0"
slog = "2.7.0"
slog-stdlog = "4.1.1"
manifest-dir-macros = "0.1.16"
parking_lot = "0.12.1"
lazy_static = "1.4.0"
tokio = { version = "1.20.1", features = ["full"] }
send_wrapper = "0.6.0"
num = "0.4.0"
raw-window-handle = "0.5.0"
winit = { version = "0.27.2" }
softbuffer = "0.1.1"
input-event-codes = "5.16.8"
xkbcommon = { version = "0.5.0", features = ["x11"] }
xcb = "1.1.1"
num-traits = "0.2.15"
stardust-xr-fusion = "0.14.0"
stardust-xr-molecules = "0.1.1"
