[Desktop Entry]
Name=Flatland
Comment=Virtual displays for desktop apps
Type=Application
Exec=flatland
Terminal=false
Categories=XR;Stardust;
Keywords=XR;Stardust;
Icon=org.stardustxr.Flatland
StartupNotify=false
NoDisplay=true
